<div id="contenido-pagina-principal">
    <div id="carouselExampleFade" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="../../../assets/IMG/farmacia.jpg" class="d-block w-100" alt="Farmacia">
                <div class="carousel-caption d-none d-md-block">
                    <span class="h1 px-3 bg-dark">BIENVENIDOS</span>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <a [routerLink]="['/citas']" [routerLinkActive]="['actived']">
                    <img src="../../../assets/IMG/agendar-cita.jpeg" class="d-block w-100" alt="Agendar Cita">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <span class="h1 px-3 bg-dark">Agendar Cita</span>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <a [routerLink]="['/paciente']" [routerLinkActive]="['actived']">
                    <img src="../../../assets/IMG/cancelar-cita.png" class="d-block w-100" alt="Cancelar Cita">
                </a>
                
                <div class="carousel-caption d-none d-md-block">
                    <span class="h1 px-3 bg-dark">Cancelar Cita</span>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div class="container-fluid px-4">
        <div class="container-fluid shadow px-5 py-4">
            <article class="mb-4">
                <h2>Sobre la Farmacia</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                </p>
                <div class="text-center">
                    <img class="img-fluid img-thumbnail text-center" src="../../../assets/IMG/imagen-decoracion-farmacia_3.jpg" alt="Farmacia">
                </div>
                
            </article>
            <article class="mb-4">
                <h2>Sobre el Servicio al Cliente</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    
                </p>
                <div class="text-center">
                    <img class="img-fluid img-thumbnail" src="../../../assets/IMG/imagen-decoracion-farmacia_4.jpg" alt="Servicio al Cliente de la Farmacia">
                </div>
            </article>
            <article class="mb-4">
                <h2>Sobre los Medicamentos</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    
                </p>
                <div class="text-center">
                    <img class="img-fluid img-thumbnail" src="../../../assets/IMG/imagen-decoracion-farmacia.jpg" alt="Medicamentos de la Farmacia">
                </div>
            </article>
            <article class="mb-4">
                <h2>Sobre los Laboratorios</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia distinctio vitae voluptas dolores aperiam vel adipisci placeat? Ipsum voluptate nobis officiis iste ipsa voluptates dicta soluta provident accusamus quibusdam! lo
                    
                </p>
                <div class="text-center">
                    <img class="img-fluid img-thumbnail" src="../../../assets/IMG/imagen-decoracion-farmacia_2.jpg" alt="Laboratorios y la Farmacia">
                </div>
            </article>
            
        </div>
    </div>    
</div>
